@model LawFirm.Models.Processo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Processo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroUnico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroUnico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.ProcessoId">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
